:root {
    --primary-color:#808080;
    --accent-color:#808080;
}

body {
    color:#ffffff ;
    background-color:#000000 ;
    background-image: url("/assets/images/stars.gif");
    background-size: 500px 500px;
}

body div{
    // background-color: black;
}
